body > * {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    /* background-color: #1F2937; */
}

.navigation {
    display: flex;
}

.header-content {
    display: flex;
}