body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

li {
    padding-left: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

/* header section start */

.header {
    padding: 20px 20% 100px 20%;
    background-color: #1F2937;
}

.header-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo, a, .hero-title, .hero-button {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: 1000;
}

.hero-text > p, a {
    color: #E5E7EB;;
}

.header-content {
    display: flex;
    flex-basis: 300px;
    gap: 10px;
}

.hero-text, .hero-image {
    display: flex;
    flex: 1;
}

.hero-text {
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    padding: 10px 10px 10px 0px;
}

.hero-title {
    font-size: 48px;
    font-weight: 1400;
}

.hero-image {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: darkgray;
    color: #F9FAF8;
}

.hero-button {
    border-radius: 8px;
    border: none;
    background-color: #3882F6;
    padding: 10px;
    width: 100px;
    font-weight: 600;
    font-size: 16px;
}

/* header section end */

/* -------------------------- */

/* content section start */

.body-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-content-box-container {
    display: flex;
}

.box-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-box {
    border: solid 4px #3882F6;
    border-radius: 12px;
    height: 175px;
    width: 175px;
}

/* content section end */